<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key ="ScheduledTime" value ="1" />
    <add key ="DailyRemainderInterval" value ="2" />
    
    <add key ="VendorMaster" value ="TEST" />
    <add key ="LogPath" value ="C:\MailService" />
    <add key ="FromMailId" value ="dhinesh@gmail.com" />
    <add key ="MailId" value ="dhinesh@gmail.com" />
    <add key ="Password" value ="dhinesh" />
  </appSettings>
  <connectionStrings>

    <add name="SqlConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Database=Test; Integrated Security=True; " providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>