<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key ="ScheduledTime" value ="1" />
    <add key ="VendorMaster" value ="TEST" />
    <add key ="LogPath" value ="E:\VendorAutomation\VendorAutomation\bin\Debug\" />
    <add key ="EmailDetails" value ="harri.dhayalan@nipponpaint.co.in" />
  </appSettings>
  <connectionStrings>

    <add name="EMailConnection" connectionString="Data Source=14.141.212.68;user id=sa;password=$qlN!ppon;initial catalog=NEWUATCustomerPortal; Max Pool Size=5000;Min Pool Size=5; " providerName="System.Data.SqlClient"/>
    <add name="SqlConnectionString" connectionString="Data Source=14.141.212.68;user id=sa;password=$qlN!ppon;initial catalog=QualitySalesforce; Max Pool Size=5000;Min Pool Size=5; " providerName="System.Data.SqlClient"/>
    <add name="HanaConnectionString" connectionString="Server=192.168.50.130:32015; databaseName=NHQ;UserID=NPIDISPLAY;Password=Display@456; Max Pool Size=5000;Min Pool Size=5; " providerName="Sap.Data.Hana" />
  </connectionStrings>
</configuration>